/* This file is for your main application css. */
.logo {
  width: 64px;
  height: 64px;
  background-size: 64px;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-image: url("/images/raven-64.png");
}
